@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.app {
  background: linear-gradient(rgba(64, 255, 0, 0.7), rgba(255, 7, 7, 0.7));
  background-size: cover;
  /* background-position: center; */
}

body {
  font-family: "Roboto", sans-serif;
}

label {
  font-size: 0.7rem;
}

input.form-control,
input.form-control:focus {
  background: #f0f0ff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}
